<footer class="footer pt-5 pb-5">
  <div class="content has-text-centered">
    <p>
      <strong>Novel Ideas</strong> by Anthony Klemm. The source code is licensed
      <a href="https://github.com/klemmy129/novel-ideas-ui/blob/main/LICENSE">GNU General Public License v3.0</a>.
      Using <span class="icon-text is-size-3 pl-2"><em class="fa-brands fa-github"></em></span>
      <span class="icon-text is-size-3 pl-2"><em class="fa-brands fa-angular"></em></span>
      <span class="icon-text is-size-3 pl-2"><em class="fa-brands fa-java"></em></span>
    </p>
  </div>
</footer>
