/* You can add global styles to this file, and also import other style files */

//@import "bulma/css/bulma.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

//.default {
//  @import "bulmaswatch/default/bulmaswatch.scss";
//}
.darkly {
  @import "bulmaswatch/darkly/bulmaswatch.scss";
}
.cerulean {
  @import "bulmaswatch/cerulean/bulmaswatch.scss";
}
.flatly {
  @import "bulmaswatch/flatly/bulmaswatch.scss";
}
.slate {
  @import "bulmaswatch/slate/bulmaswatch.scss";
}
.solar {
  @import "bulmaswatch/solar/bulmaswatch.scss";
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  flex: 1;
}
